# Ignore my actual input, per AoC's rules for sharing
input.txt

# Ignore any tests I use, they are just the examples given on the site.
# I'll make a custom named test if I write my own cases that are worth sharing
test.txt